div{
    height:100px;
    width:100px;
    background-color:brown;
}
/* @media(width:600px){
    div{
        background-color:red;
    }
} */

@media(max-width:600px){
    div{
        background-color:yellow;
    }
}

@media (min-width: 200px) and (max-width: 400px) {
    div{
        background-color:green;
    }
}
